/*Styles for Photo Container */
#photos {
    width: 90%;
    margin:auto;
    border: 1px solid black;
}
 /*Styles for Photos */
.photo-block img{
    width: 30%;
    height: 30%;
    margin: 5px;
    float:left;
}

.gallery-btn {
    padding: 15px;
    color:#979797;
    background-color: #414141;
    border:1px solid #004364;
    border-radius: 10px;
}

.take-pic-btn {
    padding: 15px;
    color:#979797;
    background-color: #414141;
    border:1px solid #004364;
    float:right;
    border-radius: 10px;
}
