/* Whole Body Styles */
#main {
	margin: auto;
	width: 90%;
    font-family: Arial, Verdana, Helvetica,sans-serif;
    border: 1px solid black;
    background-color: #414141;
    padding-top: 70px;
}
/*Navigation sytles (All Navs)*/

nav {
    background-color:#414141;
    padding: 10px;
    } 
 nav ul {
     display:inline;
 }
/*h1... Styles (All Headers)*/
.app-name {
	text-align: center;
	padding: 10px;
    font-size: 1.5em;
    color: #FFF;
}
/*Search Bar */




    /*File list styles */
/* main Div */
#file-tree { 
    width:20%;
    height:700px;
    float: left;
    background-color: #979797;
    }

/*div containing lists */
.folder-list {
    margin:auto;
    width: 90%;   
}

.main-folder {
   color: royalblue;
}

.nested-list{
    text-indent: 20px;
}
/* Folder List section SYstles */
.folder-col {
    width:80%;
    float:left;
    height:700px;
    background-color:#FFF;
    color:green;
}


/*Footer Styles */
footer {
    text-align:center;
    color:#FFF;
    background-color:#414141;
    font-family: Arial, Verdana, Helvetica,sans-serif;  
}




