/* Whole Body Styles */
#main {
	margin: auto;
	border: 2px black solid;
	position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
	background-color: #004364;
    font-family: Comfortaa, Arial, Verdana, Helvetica,sans-serif;
}

/*Navigation sytles (All Navs)*/

nav {
	  margin: auto;
	  text-align:center;
    background-color:#414141;
    padding: 10px;
    } 
nav > ul >li{
  	display:inline;
  	padding: 20px;
     }

li a{
	  text-decoration:none; 
     color: #979797;
   }

/*header Styles (All Headers)*/
h1 {
  	text-align:center;
	  padding: 10px;
    color: #FFF;
    font-family: Comfortaa, Arial, Verdana, Helvetica,sans-serif;
}

/*Button Sytles (All Main Buttons)*/
.button {
	  text-align:center;
	  margin: auto;
	  padding: 20px;
        }
.btn-main {
	  padding:20px;
	  margin:20px;
    background-color: #414141;
    border: 1px solid #414141;
    border-radius: 10px;
    text-align: center;
	}

.btn-half{
	  width:70%;
	  margin: auto;
    color:#979797;
}

.btn-half a{
    text-decoration: none;
    color:#979797;
}

/*Footer Styles */
footer {
    text-align:center;
    color:#FFF;
    background-color:#414141;
    font-family: Comfortaa, Arial, Verdana, Helvetica,sans-serif;
     /*position: relative;
    bottom: 0px;
    margin-top: 50px; */
    position:fixed !important;
    position:absolute;
    bottom:0;
    height: 20px;  
    width: 100%;     
}

